[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=contato
Exec="/home/eduardo/Desktop/projeto/teste"
Icon=/home/eduardo/Imagens/linux.jpeg
Path=/home/eduardo/Desktop/projeto/
Name[pt_BR]=contato
